@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --font: 'Inter', sans-serif;
    --color-white-primary: #E5E5E5;
    --color-white-second: #FFF;
    --color-blue: #0A3871;
    --color-gray: #343A40;
}

/* Mobile First */

* {
    font-family: var(--font);
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--color-white-primary);
}

.logo {
    display: flex;
    padding: 24px 16px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 56px 16px;
    margin-bottom: 16px;
}

.text-input {
    color: var(--color-blue);
    font-family: var(--font);
    font-size: 2rem;
    font-weight: 400;
    background: none;
    border: none;
    width: 100%;
}

.panel-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 24px;
}

.warning-section {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 8px;
}

.warning-text {
    color: var(--color-gray);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 150%;
}

.encrypt-button {
    background-color: var(--color-blue);
    color: var(--color-white-primary);
    padding: 25px;
    font-size: 1rem;
    font-weight: 400;
    align-items: center;
    gap: 8px;
    border-radius: 25px;
}

.decrypt-button {
    background-color: var(--color-white-primary);
    color: var(--color-blue);
    padding: 25px;
    font-size: 1rem;
    font-weight: 400;
    align-items: center;
    gap: 8px;
    border: var(--color-blue) solid 1px;
    border-radius: 25px;
}

.output-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 32px;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background-color: var(--color-white-second);
    border-radius: 32px;
    gap: 32px;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.result-title {
    color: var(--color-gray);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.result-paragraph {
    color: var(--color-gray);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

/* Tablet Version */

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .logo {
        display: flex;
        padding: 72px 40px;
    }

    .main-container {
        display: flex;
        padding: 20px 40px;
        gap: 10px;
    }

    .input-section, .output-section {
        flex-direction: column;
    }

    .input-section {
        display: flex;
        flex-direction: column;
        gap: 480px;
    }

    .action-buttons {
        padding: 20px;
        flex-direction: row;
    }

    .encrypt-button, .decrypt-button {
        width: 50%;
    }

    .result-container {
        width: 100%;
        padding: 32px;
    }
}
